@import "showcase_template.css";
@import "penGallery.css";


.pen-showcase {
    display: flex;
    margin-left: 10%;
    flex-direction: row;
    align-items: center;
}


.content {
    width: 50vw;
	margin: 40px 150px 70px 70px;
	padding: 30px;
	border-radius: 5px;
    border: 1px rgb(63, 81, 181) solid;
    box-shadow: rgba(0,0,0,0.3) 2px 2px;
}

.info {
	position: fixed;
    top: 40%;
    right: 3%;
	width: 10%;
}

.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
	padding: 50px;
}


@media(max-width: 480px) {
    
    .pen-showcase {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-left: 0;
    }

    
    .content {
        width: 70vw;
        box-sizing: border-box;
        margin: 40px 0 150px 0;
        padding: 30px;
    }

    .showcase-info {
        width: 70vw;
        box-sizing: border-box;
    }

}
