@import "gallery_template.css";
@import "template.css";

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 82vh;
}
/* 
main::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .5; 
    z-index: -1;
    background-image: url(../brush/images/background2.png);
    background-size: cover;
    object-fit: fill;
    
} */

.showcase-info {
    background-color: white;
    border: 1px gray solid;
    box-shadow: rgba(0,0,0,0.3) 2px 2px;
    border-radius: 5px;
    height: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.text-info a {
    color: black;
    text-align: center;
    padding-top: 10px;
}

.map {
    height: 105px;
    width: 95px;
}

.text-info p {
    text-align: center;
}


@media(max-width: 480px) {

   .showcase {
       display: flex;
       flex-direction: column;
       margin: 0;
   }

   .showcase-img-h {
        margin: 0;
        height: 40vh;
    }

    .showcase-img-v {
        margin: 0;
        height: 50vh;
    }

    .showcase-info {
        flex-direction: row;
        margin-top: 30px;
        width: 60%;
        justify-content: space-between;
    }
    
    .text-info {
        width: 50%;
    }
}